<% layout('layouts/boilerplate.ejs') %>
<header>
            <div class="name-wrapper">
                <h1>Edit Contact</h>
            </div>
        </header>
        <div class="flash on">New Group Added</div>
        <section class="info-card">
            <form id="edit-form" method="post" action="/contacts/<%=contact._id%>?_method=PUT" >
                <div class="form-field info">
                    <label for="firstName">First Name</label>
                    <input type="text" name="firstName" id="firstName" value="<%= contact.firstName %>">
                </div>
                <div class="form-field info">
                    <label for="lastName">Last Name</label>
                    <input type="text" name="lastName" id="lastName" value="<%= contact.lastName %>">
                </div>
                <div class="form-field info">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" value="<%= contact.email %>">
                </div>
                <div class="form-field info">
                    <label for="phone">Phone</label>
                    <input type="tel" name="phone" id="phone" value="<%= contact.phone %>">
                </div>
                <div class="groups form-groups">
                    <div class="group-title info"><span>Groups</span><a class="small-link" href="/groups?returnTo=<%= returnTo %>">Create New Groups</a></div>
                    <div class="group-tags">
                        <% for (let group of groups) { %>
                            <div class="tag">
                                <label for="<%= group.name %>"><input type="checkbox" id="<%= group.name %>" name="groups" value="<%= group._id %>" ><%= group.name %></label>
                            </div>
                        <% } %>
                    </div>
                </div> 
            </form>
            <div class="button-section">
                <button form="edit-form" class="btn">Save</button>
                <form action="/contacts">
                    <button type="submit" class="btn">Cancel</button>
                </form>
            </div> 
        </section>