<% layout('layouts/boilerplate.ejs') %>
<header>
    <div class="name-wrapper">
        <div class="letter"><%= contact.firstName[0].toUpperCase() %></div>
        <h2 class="contact-name"><%= contact.firstName %> <%= contact.lastName %></h2>
    </div>
    <a class="small-link" href="/contacts/<%= contact._id %>/edit">edit </phone></a>
</header>
<div class="flash on">New Group Added</div>
<section class="info-card">
    <div class="info"><div>Email</div><a class="info-link" href="mailto:charlake@yahoo.com"><%= contact.email %></a></div>
    <div class="info"><div>Phone</div><a class="info-link" href="15553331212"><%= contact.phone %></a></div>
    <div class="groups">
        <div class="group-title info"><span>Groups:</span></div>
        <% for (let group of contact.groups) { %>
            <div class="group-tags">
                <div class="tag"><div class="circle"></div><%= group.name %></div>
            </div>
        <% } %> 
    </div>
</section>
<div class="rt">
    <form action="/contacts">
        <button type="submit" class="btn">Close</button>
    </form>  
</div>